{% extends "account/base.html" %}

{% block title %}NFC mainPage{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Newark Fulfillment Center</h1>
    <p>
        Newark Fulfillment Center is a series of warehouses that services local small
        businesses who do not possess suitable space to hold/hwill send ost their inventory.</p>
    <p>Just like AFS, small business inventory directly to NFC to store, process and
        fulfill orders from health and well being to medical supplies such as PPE all
        the way to dog/pet grooming and clothing. </p>
    <p>NFC is a self-contained system that no outsiders are allowed into the
        facilities, and everything needs to be checked-in and checked-out through ownership account.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

{% endblock %}
